body {
  margin: 0;
  padding: 0;
}

html {
  /* 10px /16 px */
  font-size: 62.5%;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
