/*///////////////////////// root-selector selectors /////////////////////////*/
:root {
  --primary-color: skyblue;
  --secondary-color: lightblue;

  --clr-primary: var(--primary-color);
  --clr-secondary: var(--secondary-color);
}

html {
  /* 10px /16 px */
  font-size: 62.5%;
}
/*///////////////////////// elements selectors /////////////////////////*/

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*///////////////////////////////////////////////////*/
/*///////////////////////// class selectors /////////////////////////*/
/*///////////////////////////////////////////////////*/

/*///////////////////////// HEADING-SECTION /////////////////////////*/

.btn--reset {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  margin: 1rem 0 1rem auto;
  width: 12rem;
}
.btn--reset:hover {
  cursor: pointer;
  color: orangered;
}

.buttons {
  background-color: grey;
}

.btn {
  margin: 1rem auto;
  font-size: 3rem;
  padding: 1rem 2rem;
  border-style: none;
  transition: 0.3ms;
}
.btn:hover {
  cursor: pointer;
  color: orangered;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.display {
  height: 10rem;
  margin-top: 1rem;

  align-items: center;
}

.display--small {
  height: 4rem;
  margin-top: 1rem;
  align-items: center;
}

.display--text {
  font-size: 3rem;
}

.header {
  font-size: 1.5rem;
  border-bottom: 4px solid skyblue;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

/* ///////////SCORE-SECTION///////////// */

.container--score {
  margin: 1rem 0;
}

.score--number {
  margin: auto 0;
  margin-left: 1rem;
  font-size: 4rem;
}

/*///////////////////////// utility classes /////////////////////////*/

.clr--primary {
  background-color: var(--clr-primary);
}

.clr--secondary {
  background-color: var(--clr-secondary);
}

.horizontal--centre {
  display: flex;
  justify-content: center;
}

.vertical--centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
